.all-browsers {
    margin: 0;
    padding: 5px;
    background-color: lightgray;
  }

footer {
    text-align: center;
    padding: 3px;
    background-color: DarkSalmon;
    color: white;
  }

header {
    text-align: center;
    padding: 3px;
    background-color: DarkSalmon;
    color: white;
  }

  
a[href$=".pdf"] {
  background: url(/images/pdf_icon.png) no-repeat left center;
  padding-left: 19px;
}

